<!DOCTYPE html>
<html>
  <head>
    <title>Aisakaya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= yield %>
    <footer>
      <p>
        Copyright Aisakaya 2021.
      </p>
    </footer>
</html>